:root {
  --bg: #4c4c4c;
  --bg-dark: #222;
}

body {
  background: var(--bg);
}

.footer{
    background: var(--bg-dark);
}

.full-text {
    display: none;
}

.show-more-button{
    white-space: nowrap;
}
