:root {
  --bg: #4c4c4c;
  --bg-dark: #222;
}

body {
  background: var(--bg);
}

.footer{
    background: var(--bg-dark);
}

.full-text {
    display: none;
}

.show-more-button{
    white-space: nowrap;
}

.title a, .media-content a {
    color: #4a4a4a;
}

.media-left {
    margin-right: 0.5rem;
}

.navbar-item .fa-compress-alt {
    color: red;
}

.navbar-item .fa-star {
    color: #ffcc1f;
}

.navbar-item .fa-share-alt {
    color: #339af0;
}

.navbar-item .fa-rss {
    color: #f29738;
}

hr {
    margin: 0.5rem 0;
}

.content p {
    overflow-wrap: break-word;
}

.card-h100 {
    height: 100%;
}

@media only screen and (max-width: 600px) {
  .column {
    padding-left: 0;
    padding-right: 0;
  }

  .box .p-6{
    padding: 1rem!important;
  }
}
