<!DOCTYPE html>
<html lang="ru">

  <head>
    {% include 'header.html' %}
    <title>RTN Новости - в реальном времени и с аналитикой</title>
  </head>

  <body>

    <!-- START NAV -->
    {% include 'main-nav.html' %}
    <!-- END NAV -->

    <div class="container">

      <div class="section">

        <div class="columns mb-6">
          <div class="column has-text-centered">
            <h1 class="title is-1" style="color: ghostwhite;">Новости</h1>
          </div>
        </div>

        <!-- Filters -->
        <div id="filters1" class="row columns is-multiline">

          <div class="column">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input id="news-number" class="input" type="number" min="5" max="200" value="10">
                  </p>
                  <p class="help has-text-white">новостей</p>
                </div>
                <div class="field">
                  <p class="control">
                    <input id="date-start" class="input" type="date">
                  </p>
                  <p class="help has-text-white">от</p>
                </div>
                <div class="field">
                  <p class="control">
                    <input id="date-end" class="input" type="date">
                  </p>
                  <p class="help has-text-white">до</p>
                </div>
                <div class="field">
                  <div class="select">
                    <select id="news-topic">
                      <option value="" disabled selected>Выберите тему</option>
                      {% if topics %}
                      {% for topic in topics %}
                      <option value="{{ topic }}">{{ topic }}</option>
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                  <p class="help has-text-white">тема</p>
                </div>
                <div class="field">
                  <div class="control">
                    <button id="update" class="button is-primary" onclick="updateFilters()">
                      Поиск
                    </button>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button id="clear" class="button is-danger is-outlined is-pulled-right" onclick="clearFilters()">
                      <span class="icon">
                        <i class="fas fa-times"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End filters -->

        <!-- Start clusters -->
        <div id="main-cluster" class="row columns is-multiline">

          <div class="tile is-ancestor column">

            <div class="tile is-parent">
              <!-- Main cluster -->
              <div class="tile is-child card large">
                {% if clusters and clusters[0]['news'] %}
                <div class="card-content">
                  <div class="media mb-3">
                  <div class="media-content">
                    <p class="title is-5 no-padding">
                      <a href="/cluster/{{ clusters[0]['cluster_id'] }}">
                        {{ clusters[0]['news'][0].title | safe }}
                      </a>
                    </p>
                  </div>
                  </div>
                  {% if clusters[0]['news'][0].content %}
                  <div class="media-content mb-3">
                    <p>{{ clusters[0]['news'][0].content | safe }}</p>
                  </div>
                  {% endif %}
                  <div class="media-content mb-3">
                    {% if clusters[0]['topic'] %}
                    <span class="tag is-primary">{{ clusters[0]['topic'] }}</span>
                    {% else %}
                    <span class="tag is-primary">Общее</span>
                    {% endif %}
                    {% if clusters[0]['tags'] %}
                    {% for tag in cluster[0]['tags'] %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                    {% endif %}
                  </div>
                  <div class="card-image">
                    <figure class="image is-16by9">
                      {% if clusters[0]['news'][0].image_url %}
                      <a href="/cluster/{{ clusters[0]['cluster_id'] }}">
                        <img src="{{ clusters[0]['news'][0].image_url }}" alt="{{ clusters[0]['news'][0].title | safe }}">
                      </a>
                      {% else %}
                      <a href="/news/{{ clusters[0]['cluster_id'] }}">
                        <img src="{{ url_for('static', path='/img/news-placeholder.jpg') }}" alt="{{ clusters[0]['news'][0].title | safe }}">
                      </a>
                      {% endif %}
                    </figure>
                  </div>
                  <div class="content">
                    {% if clusters[0]['news'][0].time %}
                    <time datetime="{{ card.date }}">{{ clusters[0]['news'][0].time }}</time>
                    {% else %}
                    <span>Сегодня</span>
                    {% endif %}
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-16x16 m-0">
                          {% if clusters[0]['news'][0].logo_url %}
                          <img src="{{ clusters[0]['news'][0].logo_url }}" alt="{{ clusters[0]['news'][0].source_name }}">
                          {% else %}
                          <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ clusters[0]['news'][0].source_name }}">
                          {% endif %}
                        </figure>
                      </div>
                      <div class="media-content">
                        {% if clusters[0]['news'][0].source_name %}
                        <p class="subtitle is-6">
                          <a href="{{ clusters[0]['news'][0].source_url }}" target="_blank">{{ clusters[0]['news'][0].source_name }}</a>
                        </p>
                        {% else %}
                        <p class="subtitle is-6">
                          <a href="{{ clusters[0]['news'][0].source_url }}" target="_blank">Неизвестная газета</a>
                        </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <!-- subnews -->
                  {% if clusters[0]['news']|length > 1 %}
                  {% for card in clusters[0]['news'][1:4] %}
                  <hr>
                  <div class="content mb-3">
                    <div class="media-content">
                      <p class="title is-6 no-padding mb-3"><a href="/news/{{ card.id }}">{{ card.title }}</a></p>
                    </div>
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-16x16 m-0">
                          {% if card.logo_url %}
                          <img src="{{ card.logo_url }}" alt="{{ card.source_name }}">
                          {% else %}
                          <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ card.source_name }}">
                          {% endif %}
                        </figure>
                      </div>
                      <div class="media-content">
                        {% if card.source_name %}
                        <p class="subtitle is-6"><a href="{{ card.source_url }}" target="_blank">{{ card.source_name }}</a></p>
                        {% else %}
                        <p class="subtitle is-6"><a href="{{ card.source_url }}" target="_blank">Неизвестная газета</a></p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}

                  <a href="/cluster/{{ clusters[0]['cluster_id'] }}" class="button is-fullwidth mt-5">Подробнее о новости</a>

                </div>
                {% else %}
                <div class="card-content">
                  <div class="media-content mb-3">
                    <p>По заданным фильтрам ничего не найдено, попробуйте изменить параметры поиска.</p>
                  </div>
                </div>
                {% endif %}
              </div>

            </div>

            <!-- hot news start -->
            <div class="tile is-5 is-vertical is-parent">

              <div class="tile is-child box">
                <p class="title">СМИ в соцсетях</p>
                {% if posts %}
                {% for post in posts %}
                <div class="content mb-3">
                  <div class="media-content">
                      {% if post.text %}
                      <p class="title is-6 no-padding"><a href="/vk_tg/{{ post.id }}">{{ post.text[:100] }} ...</a></p>
                      {% else %}
                      <p class="title is-6 no-padding">Тут должен был быть текст поста...</p>
                      {% endif %}
                  </div>
                  {% if post.time %}
                  <time datetime="{{ post.date }}">{{ post.time }}</time>
                  {% else %}
                  <span>Сегодня</span>
                  {% endif %}
                </div>
                {% endfor %}
                {% endif %}

                <a href="/vk_tg" class="button is-fullwidth mt-5">Смотреть всю ленту</a>

              </div>

            </div>
            <!-- hot news end -->

          </div>

        </div>

        <!-- Start news -->
        <div id="news" class="row columns is-multiline">

        <!-- News cards -->
        {% if clusters and clusters|length > 1 %}
        {% for cluster in clusters[1:] %}

          {% if cluster['news'][0].title %}
          <div class="column is-4">
            <div class="card large">

              <div class="card-content">
                <!-- main news from cluster -->
                <div class="media mb-3">
                  <div class="media-content">
                    <p class="title is-5 no-padding">
                      <a href="/cluster/{{ cluster['cluster_id'] }}">{{ cluster['news'][0].title | safe }}</a>
                    </p>
                  </div>
                </div>
                <div class="media-content mb-3">
                  {% if cluster['topic'] %}
                  <span class="tag is-primary">{{ cluster['topic'] }}</span>
                  {% else %}
                  <span class="tag is-primary">Общее</span>
                  {% endif %}
                  {% if cluster['tags'] %}
                  {% for tag in cluster['tags'] %}
                  <span class="tag">{{ tag }}</span>
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="card-image">
                  <figure class="image is-16by9">
                    {% if cluster['news'][0].image_url %}
                    <a href="/cluster/{{ cluster['cluster_id'] }}">
                      <img src="{{ cluster['news'][0].image_url }}" alt="{{ cluster['news'][0].title }}">
                    </a>
                    {% else %}
                    <a href="/cluster/{{ cluster['cluster_id'] }}">
                      <img src="{{ url_for('static', path='/img/news-placeholder.jpg') }}" alt="{{ cluster['news'][0].title }}">
                    </a>
                    {% endif %}
                  </figure>
                </div>
                <div class="content">
                  {% if cluster['news'][0].time %}
                  <time datetime="{{ cluster['news'][0].date }}">{{ cluster['news'][0].time }}</time>
                  {% else %}
                  <span>Сегодня</span>
                  {% endif %}
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-16x16 m-0">
                        {% if cluster['news'][0].logo_url %}
                        <img src="{{ cluster['news'][0].logo_url }}" alt="{{ cluster['news'][0].source_name }}">
                        {% else %}
                        <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ cluster['news'][0].source_name }}">
                        {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                        {% if cluster['news'][0].source_name %}
                        <p class="subtitle is-6">
                          <a href="{{ cluster['news'][0].source_url }}" target="_blank">{{ cluster['news'][0].source_name }}</a>
                        </p>
                        {% else %}
                        <p class="subtitle is-6">
                          <a href="{{ cluster['news'][0].source_url }}" target="_blank">Неизвестная газета</a>
                        </p>
                        {% endif %}
                    </div>
                  </div>
                </div>
                <!-- end of main news from cluster -->

                <!-- subnews   -->
                {% if cluster['news']|length > 1 %}
                {% for card in cluster['news'][1:4] %}
                <hr>
                <div class="content mb-3">
                  <div class="media-content">
                    <p class="title is-6 no-padding mb-3"><a href="/news/{{ card.id }}">{{ card.title | safe }}</a></p>
                  </div>
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-16x16 m-0">
                        {% if card.logo_url %}
                        <img src="{{ card.logo_url }}" alt="{{ card.source_name }}">
                        {% else %}
                        <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ card.source_name }}">
                        {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                      {% if card.source_name %}
                      <p class="subtitle is-6"><a href="{{ card.source_url }}" target="_blank">{{ card.source_name }}</a></p>
                      {% else %}
                      <p class="subtitle is-6"><a href="{{ card.source_url }}" target="_blank">Неизвестная газета</a></p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}

                <a href="/cluster/{{ cluster['cluster_id'] }}" class="button is-fullwidth mt-5">Подробнее о новости</a>

              </div>

            </div>
          </div>
          {% endif %}

        {% endfor %}
        {% endif %}

        </div>
        <!-- End news -->

        <!-- Start stats -->
<!--        <div class="row">-->
<!--          <div class="box">-->
<!--            <h2 class="title is-3">Контекст показанных новостей</h2>-->
<!--            <div class="tags">-->
<!--              {% if stats and stats.stats and (stats.type == "Ngrams") %}-->
<!--              {% for ngram in stats.stats[:30] %}-->
<!--              <span class="tag">{{ngram[0]}}: {{ngram[1]}}</span>-->
<!--              {% endfor %}-->
<!--              {% endif %}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!-- End stats -->

      </div>

    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

  </body>

</html>
