<!DOCTYPE html>
<html lang="ru">

  <head>
    {% include 'header.html' %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Сравнение слов - в реальном времени и с аналитикой / RTN</title>
  </head>

  <body>

    <!-- START NAV -->
    {% include 'main-nav.html' %}
    <!-- END NAV -->

    <div class="container">

      <div class="section">

        <div class="columns mb-6">
          <div class="column has-text-centered">
            {% if words[0] and words[1] %}
            <h1 class="title is-1" style="color: ghostwhite;">{{ words[0].capitalize() }} vs {{ words[1].capitalize() }}</h1>
            {% else %}
            <h1 class="title is-1" style="color: ghostwhite;">Сравнение</h1>
            {% endif %}
          </div>
        </div>

        <!-- Filters -->
        <div id="filters" class="row columns is-multiline">

          <div class="column">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input id="first-word" class="input" type="text" placeholder="Первое слово">
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <input id="second-word" class="input" type="text" placeholder="Дороже второго">
                  </p>
                </div>
                <div class="field">
                  <div class="control">
                    <button id="update" class="button is-primary" onclick="updateVsSearchFilters()">
                      Сравнить
                    </button>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button id="clear" class="button is-danger is-outlined is-pulled-right" onclick="clearVsSearchFilters()">
                      <span class="icon">
                        <i class="fas fa-times"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End filters -->

        <!-- Start stats -->
        <div id="stats" class="row columns">

          <div class="column">
              <div class="box content">

                {% if words[0] %}
                <h2 class="title is-4">{{ words[0].capitalize() }}</h2>
                {% else %}
                <h2 class="title is-4">Введите первое слово</h2>
                {% endif %}

                {% if stats_1 %}
                {% if stats_1[1] %}
                <p>
                  Упоминается в разных новостях: {{ news_1|length }} раз.<br>
                  В разных источниках: {{ stats_1[1].stats|length }} раз.
                </p>
                <p>Топ-10 источников:</p>
                <ul>
                  {% for source, count in stats_1[1].stats[:10] %}
                  <li>{{ source }}: {{ count }}</li>
                  {% endfor %}
                </ul>
                <div id="by-source-plot-1" style="width: 100%; height: 300px;"></div>
                {% endif %}
                {% if stats_1[2] %}
                <p>Упоминания за последние 7 дней:</p>
                <ul>
                  {% for date, count in stats_1[2].stats[:7] %}
                  <li>{{ date }}: {{ count }}</li>
                  {% endfor %}
                </ul>
                <div id="by-day-plot-1" style="width:100%; height:260px;"></div>
                {% endif %}
                {% if stats_1[0] and stats_1[0].stats[0][0] != 'none' %}
                <p>Контекст, в котором встречается "{{ words[0] }}":</p>
                <div class="tags">
                  {% for ngram, count in stats_1[0].stats[:30] %}
                  <span class="tag">{{ ngram }}: {{ count }}</span>
                  {% endfor %}
                </div>
                <figure class="image">
                  <img src="{{ url_for('static', path='/wordcloud_images/wordcloud_image_1.png') }}" alt="word count">
                </figure>
                {% endif %}
                <!-- Количество топиков -->
                {% endif %}

              </div>
            </div>

            <div class="column">
              <div class="box content">
                {% if words[1] %}
                <h2 class="title is-4">{{ words[1].capitalize() }}</h2>
                {% else %}
                <h2 class="title is-4">Введите второе слово</h2>
                {% endif %}

                {% if stats_2 %}
                {% if stats_2[1] %}
                <p>
                  Упоминается в разных новостях: {{ news_2|length }} раз.<br>
                  В разных источниках: {{ stats_2[1].stats|length }} раз.
                </p>
                <p>Топ-10 источников:</p>
                <ul>
                  {% for source, count in stats_2[1].stats[:10] %}
                  <li>{{ source }}: {{ count }}</li>
                  {% endfor %}
                </ul>
                <div id="by-source-plot-2" style="width: 100%; height: 300px;"></div>
                {% endif %}
                {% if stats_2[2] %}
                <p>Упоминания за последние 7 дней:</p>
                <ul>
                  {% for date, count in stats_2[2].stats[:7] %}
                  <li>{{ date }}: {{ count }}</li>
                  {% endfor %}
                </ul>
                <div id="by-day-plot-2" style="width:100%; height:250px;"></div>
                {% endif %}
                {% if stats_2[0] and stats_2[0].stats[0][0] != 'none' %}
                <p>Контекст, в котором встречается "{{ words[1] }}":</p>
                <div class="tags">
                  {% for ngram, count in stats_2[0].stats[:30] %}
                  <span class="tag">{{ ngram }}: {{ count }}</span>
                  {% endfor %}
                </div>
                <figure class="image">
                  <img src="{{ url_for('static', path='/wordcloud_images/wordcloud_image_2.png') }}" alt="word count">
                </figure>
                {% endif %}
                <!-- Количество топиков -->
                {% endif %}

              </div>
            </div>

        </div>
        <!-- End stats -->

        <!-- Start news -->
        <div id="news" class="row columns">

          <div class="column">
          {% if news_1 %}

            {% if words[0] %}
            <h3 class="title is-5 mt-5" style="color: ghostwhite;">Новости по слову {{ words[0].capitalize() }}</h3>
            <h4 class="subtitle" style="color: ghostwhite;">до 15 новостей</h4>
            {% endif %}

            {% for card in news_1[:15] %}
            {% if card.title %}
            <div class="card large mb-1">

              <div class="card-content">
                <div class="media mb-3">
                  <div class="media-content">
                    <p class="title is-6 no-padding"><a href="/news/{{ card.id }}" target="_blank">{{ card.title | safe }}</a></p>
                  </div>
                </div>
                <div class="content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-16x16 m-0">
                        {% if card.logo_url %}
                        <img src="{{ card.logo_url }}" alt="{{ card.source_name }}">
                        {% else %}
                        <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ card.source_name }}">
                        {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                      {% if card.source_name %}
                      <p class="subtitle is-6">{{ card.source_name }}</p>
                      {% else %}
                      <p>Неизвестная газета</p>
                      {% endif %}
                    </div>
                    <div class="media-right">
                      {% if card.time %}
                      <time datetime="{{ card.date }}">{{ card.time }}</time>
                      {% else %}
                      <span>Сегодня</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

          {% endif %}
          </div>

          <div class="column">
          {% if news_2 %}

            {% if words[1] %}
            <h3 class="title is-5 mt-5" style="color: ghostwhite;">Новости по слову {{ words[1].capitalize() }}</h3>
            <h4 class="subtitle" style="color: ghostwhite;">до 15 новостей</h4>
            {% endif %}

            {% for card in news_2[:15] %}
            {% if card.title %}
            <div class="card large mb-1">

              <div class="card-content">
                <div class="media mb-3">
                  <div class="media-content">
                    <p class="title is-6 no-padding"><a href="/news/{{ card.id }}" target="_blank">{{ card.title | safe }}</a></p>
                  </div>
                </div>
                <div class="content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-16x16 m-0">
                        {% if card.logo_url %}
                        <img src="{{ card.logo_url }}" alt="{{ card.source_name }}">
                        {% else %}
                        <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ card.source_name }}">
                        {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                      {% if card.source_name %}
                      <p class="subtitle is-6">{{ card.source_name }}</p>
                      {% else %}
                      <p>Неизвестная газета</p>
                      {% endif %}
                    </div>
                    <div class="media-right">
                      {% if card.time %}
                      <time datetime="{{ card.date }}">{{ card.time }}</time>
                      {% else %}
                      <span>Сегодня</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

          {% endif %}
          </div>

        </div>
        <!-- End news -->

      </div>

    </div>


    <!-- Footer -->
    {% include 'footer.html' %}

    {% block javascript %}

    {% if stats_1[1] %}
    <script type="text/javascript">
      BYSOURCEONE = document.getElementById('by-source-plot-1');

      Plotly.plot( BYSOURCEONE,
        [{
          labels: {{ plots.word_1.by_source.x | tojson }},
          values: {{ plots.word_1.by_source.y | tojson }},
          type: "pie"
        }],
        {
          margin: { t: 1 },
          height: 300,
        },
        {showSendToCloud:true}
      );
    </script>
    {% endif %}

    {% if stats_2[1] %}
    <script type="text/javascript">
      BYSOURCETWO = document.getElementById('by-source-plot-2');

      Plotly.plot( BYSOURCETWO,
        [{
          labels: {{ plots.word_2.by_source.x | tojson }},
          values: {{ plots.word_2.by_source.y | tojson }},
          type: "pie"
        }],
        {
          margin: { t: 1 },
          height: 300,
        },
        {showSendToCloud:true}
      );
    </script>
    {% endif %}

    {% if stats_1[2] %}
    <script type="text/javascript">
      BYDAYONE = document.getElementById('by-day-plot-1');

      Plotly.plot( BYDAYONE, [{
        x: {{ plots.word_1.by_day.x | tojson }},
        y: {{ plots.word_1.by_day.y | tojson }}
        }],
        {
        margin: { t: 1 },
        xaxis: { showline: true, domain: [0, 1], showgrid: true, rangemode: "tozero" },
        yaxis: { showline: true, rangemode: "tozero" },
        height: 230,
        },
        {showSendToCloud:true}
      );
    </script>
    {% endif %}

    {% if stats_2[2] %}
    <script type="text/javascript">
      BYDAYTWO = document.getElementById('by-day-plot-2');

      Plotly.plot( BYDAYTWO,
        [{
          x: {{ plots.word_2.by_day.x | tojson  }},
          y: {{ plots.word_2.by_day.y | tojson  }}
        }],
        {
        margin: { t: 1 },
        xaxis: { showline: true, domain: [0, 1], showgrid: true, rangemode: "tozero" },
        yaxis: { showline: true, rangemode: "tozero" },
        height: 230,
        },
        {showSendToCloud:true}
      );
    </script>
    {% endif %}

    {% endblock %}

  </body>

</html>
