<!DOCTYPE html>
<html lang="ru">

  <head>
    {% include 'header.html' %}
    <title>{{ single_news.title }} / Новости / RTN</title>
  </head>

  <body>

    <!-- START NAV -->
    {% include 'main-nav.html' %}
    <!-- END NAV -->

    <div class="container">

      <div class="section">

        <div class="columns mb-6">
          <div class="column is-2">
            <a href="/" class="button is-medium">
              <span class="icon is-medium">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span>Главная</span>
            </a>
          </div>
          <div class="column is-8 has-text-centered">
            <h1 class="title is-1" style="color: ghostwhite;">{{ single_news.title }}</h1>
          </div>
        </div>

        <!-- Start news -->
        <div id="news" class="row columns mb-6">
          <div class="column is-8 is-offset-2 box p-6">
            <div class="content">
              {% if single_news.content %}
              <div>
                {{ single_news.content | safe }}
              </div>
              {% else %}
              <div>
                <p><a href="{{ single_news.source_url }}" target="_blank">Эту новость можно прочитать полностью в
                  источнике. <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p>
              </div>
              {% endif %}
            </div>
            <div class="content">
              {% if single_news.category %}
              <span class="tag is-primary">{{ single_news.category }}</span>
              {% else %}
              <span class="tag is-primary">Общее</span>
              {% endif %}
              {% if single_news.tags %}
              {% for tag in single_news.tags %}
              {% if tag %}
              <span class="tag">{{ tag }}</span>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            <div>
              <figure class="image is-16by9">
                {% if single_news.image_url %}
                <img src="{{ single_news.image_url }}" alt="{{ single_news.title }}">
                {% else %}
                <img src="{{ url_for('static', path='/img/news-placeholder.jpg') }}" alt="{{ single_news.title }}">
                {% endif %}
              </figure>
            </div>
            <div class="content">
              {% if single_news.time %}
              <time datetime="{{ single_news.date }}">{{ single_news.time }}</time>
              {% else %}
              <span>Сегодня</span>
              {% endif %}
              <div class="media">
                <div class="media-left">
                  <figure class="image is-16x16 m-0">
                    {% if single_news.logo_url %}
                    <img src="{{ single_news.logo_url }}" alt="{{ single_news.source_name }}">
                    {% else %}
                    <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ single_news.source_name }}">
                    {% endif %}
                  </figure>
                </div>
                <div class="content">
                  {% if single_news.source_name %}
                  <p class="subtitle is-6"><a href="{{ single_news.source_url }}">{{ single_news.source_name }}</a></p>
                  {% else %}
                  <p class="subtitle is-6"><a href="{{ single_news.source_url }}">Неизвестная газета</a></p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

  </body>

</html>
