<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ single_news.title }} / Новости / RTN</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/js/custom.js') }}"></script>
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">

  </head>

  <body>

    <!-- START NAV -->
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="{{ url_for('static', path='/img/logo-rtn-white.png') }}" alt="Realtime news logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              Категории
            </a>
            <a class="navbar-item">
              В тренде
            </a>
            <a class="navbar-item">
              О нас
            </a>
            <a class="navbar-item">
              Личный кабинет
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">

      <div class="section">

        <div class="columns mb-6">
          <div class="column has-text-centered">
            <h1 class="title is-1" style="color: ghostwhite;">{{ single_news.title }}</h1>
          </div>
        </div>

        <!-- Start news -->
        <div id="news" class="row columns mb-6 is-multiline">
          <div class="content">
            {% if single_news.content %}
            <div>
              {{ single_news.content | safe }}
            </div>
            {% endif %}
          </div>
          <div class="content">
            {% if single_news.topic %}
            <span class="tag is-primary">{{ single_news.topic }}</span>
            {% endif %}
            {% if single_news.tags %}
            <span class="tag">{{ single_news.tags }}</span>
            {% endif %}
          </div>
          <div>
            <figure class="image is-16by9">
              {% if single_news.image_url %}
              <img src="{{ single_news.image_url }}" alt="{{ single_news.title }}">
              {% else %}
              <img src="{{ url_for('static', path='/img/news-placeholder.jpg') }}" alt="{{ single_news.title }}">
              {% endif %}
            </figure>
          </div>
          <div class="content">
            {% if single_news.time %}
            <time datetime="{{ single_news.date }}">{{ single_news.time }}</time>
            {% else %}
            <span>Сегодня</span>
            {% endif %}
            <div class="media">
              <div class="media-left">
                <figure class="image is-16x16 m-0">
                  {% if single_news.logo_url %}
                  <img src="{{ single_news.logo_url }}" alt="{{ single_news.source_name }}">
                  {% else %}
                  <img src="{{ url_for('static', path='/img/rtn-small-logo.png') }}" alt="{{ single_news.source_name }}">
                  {% endif %}
                </figure>
              </div>
              <div class="content">
                {% if single_news.source_name %}
                <p class="subtitle is-6">{{ single_news.source_name }}</p>
                {% else %}
                <p>Неизвестная газета</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <!-- Start stats -->
<!--        <div class="row">-->
<!--          <div class="box">-->
<!--            <h2 class="title is-3">N-граммы. Топ-30</h2>-->
<!--            <div class="tags">-->
<!--              {% if stats and stats.stats and (stats.type == "Ngrams") %}-->
<!--              {% for ngram in stats.stats[:30] %}-->
<!--              <span class="tag">{{ngram[0]}}: {{ngram[1]}}</span>-->
<!--              {% endfor %}-->
<!--              {% endif %}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!-- End stats -->

      </div>

    </div>

    <footer class="footer is-dark">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>Realtime news</strong> by 5 nice guys.
          </p>
        </div>
      </div>
    </footer>

  </body>

</html>
